# Python
__pycache__/
*.pyc
backend/venv

# Environment
.env

# Token storage
./backend/access_token.json
./backend/refresh_token.json

#testing folder
testing

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db
